.card-border {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.components-container{
  padding: 0 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.btn{
  font-size: x-large;
  color: white;
  background-color: cornflowerblue;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
.btn:hover{
  background-color: royalblue;
  cursor: pointer;
}
.btn:active{
  background-color: blue;
}


.h-center{
  width: 100%;
  text-align: center;
  margin: 0;
}

.ant-table-cell th,
.ant-table-cell td{
  font-size: 20px;
}

.ant-table-content *{
  border-color: #a6a4a4 !important;
}


#slider_time_message,
#slider_time_transaction{
  height: auto !important;
  width: 100%;
}


.divider-data-analyzer,
.divider-transaction-recorder{
  height: calc(100% - 50px)
}

.divider-cache-monitor{
  margin: 10px;
  width: calc(100% - 10px);
  min-width: 0 !important;
}

.left-content-divider{
    margin: 0;
    width: 100%;
    min-width: 0 !important;
    border-top: 4px solid rgba(166, 164, 164, 0.5) !important;
}
.form-container{
  display: flex;
  align-items: center;
}
.form-label{
  font-size: 16px;
  margin:0 10px;
}

body {
    font-family: "Microsoft YaHei", sans-serif;
}


.ant-collapse-header{
  padding: 0 !important;
}

.ant-collapse-content-box{
  padding: 0 !important;
  position: relative;
}

.ant-collapse-expand-icon{
  position: absolute;
  right: 0;
  top: 5px;
}

.hover-cursor-pointer{
  cursor: pointer;
}



.button {
    border: 3px solid white;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: #b38f00 !important;
    border-color: #b38f00 !important;
}

.button:active {
    background-color: #8c6e00 !important;
    border-color: #8c6e00 !important;
}




.hidden-scroll{
    -ms-overflow-style: none; /* 隐藏 IE 和 Edge 浏览器的滚动条 */
    scrollbar-width: none; /* 隐藏 Firefox 浏览器的滚动条 */
}

.hidden-scroll::-webkit-scrollbar {
    display: none; /* 隐藏 Chrome 和 Safari 浏览器的滚动条 */
}


.DateInput_input{
    font-size: 15px !important;
    padding: 5px 5px;
    text-align: center;
}
.DateInput_1{
    width: 100px;
}


.info-span{
    font-size: 15px;
    font-style: italic;
    color:  #8d8b8b;
}

.filter-input{
    height: 25px;
    width: 60px;
    margin: 0 5px;
}

#cache_filter *{
    color: inherit;
}


.my-graph .gtitle{
    font-weight: bold !important;
}

.uneditable{
    font-size: 11px;
    padding: 2px 5px;
    margin-left: 10px;
    border: 2px solid #E74C3C;
    border-radius: 5px;
    background-color: #FDEBD0;
    color: #E74C3C;
}

text.nums{
    font-size: 18px !important;
}